.diff-removed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #E56283 /* light-red */ !important;
}

.diff-removed.djs-connection .djs-visual > :nth-child(1) {
  stroke: #BB163F /* red */ !important;
}

.marker.marker-removed {
  background: #BB163F /* red */;
}


.diff-added:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #90DD5F /* light-green */!important;
}

.diff-added.djs-connection .djs-visual > :nth-child(1) {
  stroke: #54B415 /* green */ !important;
}

.marker.marker-added {
  background: #54B415 /* green */;
}


.diff-layout-changed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #4D79A3 /* light-blue */ !important;
}

.diff-layout-changed.djs-connection .djs-visual > :nth-child(1) {
  stroke: #185085 /* blue */ !important;
}

.marker.marker-layout-changed {
  background: #185085 /* blue */;
}


.diff-changed:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #FBC16C /* light-yellow */ !important;
}

.diff-changed.djs-connection .djs-visual > :nth-child(1) {
  stroke: #CD8318 /* yellow */ !important;
}

.marker.marker-changed {
  background: #CD8318 /* yellow */;
}
